@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rayen Jlassi Airport management</h1>
    <p>Learn about <a href="https://github.com/RayenR1">Rayen github</a>.</p>
</div>
